.image-i-i {
    background: var(--primary-color);
    width: 100px;
    height: 100px;
    border-radius: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-i-i img {
    width: 38px;
}


#tools .column {
    gap: 20px;
    padding: 12px 0;
}

#manager .group {
    gap: 20px;
    padding: 12px;
}

#manager .subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.card-manager img {
    border-radius: 4px 4px 0 0;
}

.alert-form.error {
    color: red;
}

.home-m {
    background: var(--second-color);
}

.home-m .text {
    color: var(--withe);
}