html {
    overflow: hidden;
    height: 100vh;
}
#login {
    flex-grow: 1;
}

header, footer {
    flex-shrink: 0;
}

@media (max-width: 1080px) {
    #login {
        padding: 20px;
    }
    
    footer, footer .columns {
        padding: 10px;
        gap: 10px;
    }
}
